* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 45px;
}

.card-content {
    margin-top: 30px;
    padding-right: 20px;
}

.faq-section {
    max-width: 1285px;
    margin: 0 auto;
    margin-bottom: 40px;
}